* {
    margin: 0;
    padding: 0;
}


#testata img {
    width: 10%;
    text-align: left;
    padding-left: 100px;
    
}
/* NOOOOOO!! QUARANTA MINUTI PER IL PERCORSO DELLA CARTELLA  */
#testata {
    background-image: url("../img/pattern.png");
    width: 100%;
    height: 100px;
    background-color: rgba(121, 121, 182, 0.3);
    background-size: contain;
}
/* PROVE DI RISULTATO */
h3, h4, h5 {
    padding-left: 100px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}
/* CENTRATURA ORRIZZONTALE margin 0 non va!!!???? */
.foto-principali {
    width: 100%;
    padding-left: 100px;
    margin: 0;

}
/* PROVE DI RISULTATO */
.foto {
    /* width: 50% */
    display: inline-block;
}

ul {
    margin-top: 30px;
}